.dub
.idea
docs.json
__dummy.html
docs/
out/
/guessinggame
guessinggame.so
guessinggame.dylib
guessinggame.dll
guessinggame.a
guessinggame.lib
guessinggame-test-*
*.exe
*.o
*.obj
*.lst
*.iml

guessinggame
